button:hover {
  background-color: hsl(210, 100%, 60%);
  cursor: pointer;
}

button:active {
  background-color: hsl(210, 100%, 40%);
}

input {
  font-size: 2rem;
  width: 150px;
  text-align: center;
  font-weight: bold;
}

#result {
  margin: 25px;
}

#dice-images img {
  width: 150px;
  margin: 5px;
}